<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="varun.com.studentmanagementsystemsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/school"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RaisingIncidentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IncidentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScholasticActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelfAwarenessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoScholasticActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoScholasticActivityNew"
            android:screenOrientation="portrait" />
        <activity android:name=".ImagesActivity"></activity>
    </application>

</manifest>