<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="varun.com.studentmanagementsystemsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/school"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".GalleryDetailActivity" />
        <activity android:name=".RaisingIncidentsActivity" />
        <activity android:name=".IncidentDetailsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".ScholasticActivity" />
        <activity android:name=".HealthStatusActivity" />
        <activity android:name=".SelfAwarenessActivity" />
        <activity android:name=".CoScholasticActivity"></activity>
    </application>

</manifest>